<div class="main_content_iner overly_inner ">
  <div class="container-fluid p-0 ">

    <div class="row">
      <div class="col-12">
        <div class="page_title_box d-flex align-items-center justify-content-between">
          <div class="page_title_left">
            <h3 class="f_s_30 f_w_700 dark_text">Cart</h3>
            <ol class="breadcrumb page_bradcam mb-0">
              <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
              <li class="breadcrumb-item active">Cart</li>
            </ol>
          </div>
          <a href="#" class="white_btn3">Create Report</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card QA_section border-0">
          <div class="card-body QA_table ">
            <div class="table-responsive shopping-cart ">
              <table class="table mb-0">
                <thead>
                <tr>
                  <th class="border-top-0">Name</th>
                  <th class="border-top-0">Thumbnaul</th>
                  <th class="border-top-0">Price</th>
                  <th class="border-top-0">Quantity</th>
                  <th class="border-top-0">Total</th>
                  <th class="border-top-0">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    <div>{{product.name}}</div>
                  </td>
                  <td>
                    <img src="{{product.thumbnail}}" alt="" height="100px">
                  </td>
                  <td>{{product.price | currency:"VND"}}</td>
                  <td><input class="form-control w-50" type="number" [(ngModel)]="product.amount"   value="{{product.amount}}" id="example-number-input1"></td>
                  <td>{{product.price * product.amount|currency:"VND"}}</td>
                  <td><a (click)="delete(product.id)" class="text-dark"><i class="far fa-times-circle font_s_18"></i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
              <div>
              <h4 style="color: red;font-weight: bold">  Total Price: {{totalPrice|currency:"VND"}}</h4>
              </div>
            <div>
              <button style="margin-right: 10px" class="btn btn-danger"(click)="payment()">Payment</button>
              <button class="btn btn-danger"(click)="update()">Update</button>
            </div>


          </div>

        </div>

      </div>

    </div>
  </div>
</div>
