<div class="main_content_iner ">
  <div class="container-fluid p-0 sm_padding_15px">
    <div class="row">
      <div class="col-12">
        <div class="dashboard_header mb_50">
          <div class="row">
            <div class="col-lg-6">
              <div class="dashboard_header_title">
                <h3> Draggable Card</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="dashboard_breadcam text-end">
                <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i>Draggable Card</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center ui-sortable" id="draggableMultiple">
        <div class="col-lg-6 ui-sortable-handle" draggable="false" style="">
          <div class="card_box box_shadow position-relative mb_30">
            <div class="white_box_tittle     ">
              <div class="main-title2 ">
                <h4 class="mb-2 nowrap ">Wallet</h4>
              </div>
            </div>
            <div class="box_body">
              <div class="f-w-400 ">
                <div>
                <h5> Số tài khoản: 232658479</h5>
                </div>
                <div>
                 <h5> Tên tài khoản: {{wallet.username}}</h5>
                </div>
                <div>
                  <h5>Số tiền: {{wallet.amount | currency:"VND"}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header">
            <div class="box_header m-0">
              <div class="main-title">
                <h3 class="m-0">Data table</h3>
              </div>
            </div>
          </div>
          <div class="white_card_body">
            <div class="QA_section">
              <div class="white_box_tittle list_header">
                <h4>Table</h4>
                <div class="box_right d-flex lms_block">
                  <div class="serach_field_2">
                    <div class="search_inner">
                      <form active="#">
                        <div class="search_field">
                          <input type="text" placeholder="Search content here...">
                        </div>
                        <button type="submit"><i class="ti-search"></i></button>
                      </form>
                    </div>
                  </div>
                  <div class="add_button ms-2">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addcategory" class="btn_1">Add New</a>
                  </div>
                </div>
              </div>
              <div class="QA_table mb_30">

                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <table class="table lms_table_active dataTable no-footer dtr-inline" id="DataTables_Table_0"
                         role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1046px;">
                    <thead>
                    <tr role="row">
                      <th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 104px;" aria-sort="ascending"
                          aria-label="title: activate to sort column descending">Id
                      </th>
                      <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 100px;" aria-label="Category: activate to sort column ascending">
                        Sender
                      </th>
                      <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 100px;" aria-label="Teacher: activate to sort column ascending">
                        Receiver
                      </th>
                      <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 130px;" aria-label="Lesson: activate to sort column ascending">
                        Price
                      </th>
                      <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 160px;" aria-label="Enrolled: activate to sort column ascending">
                        Note
                      </th>
                      <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" style="width: 113px;" aria-label="Status: activate to sort column ascending">
                        CreatedAt
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let his of history" role="row" class="odd">
                      <th scope="row" tabindex="0" class="sorting_1"><a href="#" class="question_content"> {{his.id}}</a></th>
                      <td>{{his.sender}}</td>
                      <td>{{his.receiver}}</td>
                      <td>{{his.price | currency:"VND"}}</td>
                      <td>{{his.note}}</td>
                      <td>{{his.createdAt}}</td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1
                    to 10 of 11 entries
                  </div>
                  <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a
                    class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0"
                    tabindex="0" id="DataTables_Table_0_previous"><i class="ti-arrow-left"></i></a><span><a
                    class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1"
                    tabindex="0">1</a><a class="paginate_button " aria-controls="DataTables_Table_0" data-dt-idx="2"
                                         tabindex="0">2</a></span><a class="paginate_button next"
                                                                     aria-controls="DataTables_Table_0" data-dt-idx="3"
                                                                     tabindex="0" id="DataTables_Table_0_next"><i
                    class="ti-arrow-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
      </div>
    </div>
  </div>
</div>
