<div class="main_content_iner overly_inner ">
  <div class="container-fluid p-0 ">

    <div class="row">
      <div class="col-12">
        <div class="page_title_box d-flex align-items-center justify-content-between">
          <div class="page_title_left">
            <h3 class="f_s_30 f_w_700 dark_text">Product Details</h3>
            <ol class="breadcrumb page_bradcam mb-0">
              <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
              <li class="breadcrumb-item active">Product Details</li>
            </ol>
          </div>
          <a href="#" class="white_btn3">Create Report</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="white_card position-relative mb_20">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 align-self-center"><img src="{{product.thumbnail}}" alt="" class="mx-auto d-block"
                                                           height="300"></div>

              <div class="col-lg-6 align-self-center">
                <div class="single-pro-detail">
                  <p class="mb-1">Latop</p>
                  <div class="custom-border mb-3"></div>
                  <h3 class="pro-title">{{product.name}}</h3>
                  <p class="text-muted mb-0">Morden and good look model 2020</p>
                  <ul class="list-inline mb-2 product-review">
                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item"><i class="fas fa-star-half text-warning"></i></li>
                    <li class="list-inline-item">4.5 (9830 reviews)</li>
                  </ul>
                  <h2 class="pro-price">
                    {{product.price|currency:"VND"}}
                  </h2>
                  <h6 class="text-muted font_s_13 mt-2 mb-1">Features :</h6>
                  <ul class="list-unstyled pro-features border-0">
                    <li>{{product.description}}</li>
                  </ul>
                  <h6 class="text-muted font_s_13 d-inline-block align-middle me-2">Quantity :</h6>
                  <div class="radio2 radio-info2 form-check-inline ms-2">
                   <div>{{product.quantity
                     }}</div>
                  </div>
                  <div class="quantity mt-3">
                    <input [(ngModel)]="amount" class="form-control form-control-sm" type="number" min="0" value="0"
                           id="example-number-input">
                    <button (click)="addToCart(product)" style="margin-left: 10px" class="btn theme_bg_6 text-white px-4 d-inline-block " ><i
                      class="fa fa-cart-plus me-2"></i>Add To Cart</button>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="white_card position-relative mb_20">
          <div class="card-body">
            <h5 class="mt-0">Related Products</h5>
            <p class="text-muted mb-3 font_s_14">There are many variations of passages of Lorem Ipsum available, but the
              majority have suffered alteration in some form, by injected humour, or randomised words which don't look
              even slightly believable. If you are going to use a passage.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
